<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/navBar.ejs') %>

      <ul>
        <% users.forEach(users=> { %>
          <li>
            <%= users.name%> - <%= users.email%> - Idade: <%= users.age%>
                  <a href="/edit?id=<%= users.id %>">[Editar]</a>
                  <a href="/remove/<%= users.id %>">[Remover]</a>
          </li>
          <% }) %>
      </ul>

      <%- include('partials/foot.ejs') %>
  </body>

</html>